<div class="tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{ active: tab.selected }" ng-repeat="tab in $ctrl.tabs">
      <a role="tab" href
         ng-bind="tab.label"
         ng-click="$ctrl.handleSelect($index)"></a>
      <span ng-if="tab.count!=null" class="part-count-tab">{{tab.count}}</span>
    </li>
    <li class="close-btn pull-right" ng-if="$ctrl.onClose">
      <a href ng-click="$ctrl.close()"><span class="icon-sprite ic-remove-white"></span></a>
    </li>
  </ul>
  <div class="tabs-content" ng-transclude></div>
</div>
