
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Lato/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/Lato/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Lato/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Lato/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/Lato/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Lato/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
