
body {
  margin : 0;
  font-family: Lato;
}

.landingBg {
  background: #030303 url('../img/login_background.jpg') no-repeat left top;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  vertical-align: baseline;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.btn-register {
  background: transparent;
  border: 0;
  margin: 40px 0 0 0;
  font-size: 18px;
  color: #f2f2f2;
  font-family: Lato;
  outline: 0;
  cursor:pointer;
}

.btn-signIn {
  height: 100px;
  background-color: #3ab4f5;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #fff;
  display: block;
  border: 0;
  text-decoration: none;
  width: 190px;
  height: 53px;
  font-size: 18px;
  padding: 2px 0 0 0;
  margin: 25px 25px 25px 0;
}

.btn-signIn:hover {
  text-decoration: none;
  cursor:pointer;
  color: #fff;
}
    
.logo-class {
  font-size: 32px;
  display: block;
  margin: 30px 0 0 0;
  text-align: center;
  font-family: LatoLight;
  position: relative;
  top: 42.5%;
  width:100%;
}

.logo-class img {
  display:inherit;
  margin:0px auto;
  padding-bottom: 30px;
}
	
.logo-class span {
  color: #fff;
  letter-spacing: 1px;
}
    
.landingPage-top {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.aarLogo-landing {
  background: url('../img/AAR_R_white.png') no-repeat left top;
  width: 127px;
  height: 40px;
  background-size: contain;
  margin: 30px 0 0 62px;
}

.landingPage-top {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.aarLogo-landing {
  background: url('../img/AAR_R_white.png') no-repeat left top;
  width: 127px;
  height: 40px;
  background-size: contain;
  margin: 30px 0 0 62px;
}

.topRightBtn-landing {
  width: 340px;
}

.btn-register {
  background: transparent;
  border: 0;
  margin: 40px 0 0 0;
  font-size: 18px;
  color: #f2f2f2;
  font-family: Lato;
  outline: 0;
}
