body {
  background-color: #000;
  font-family: Lato;
}

.registration-wrap {
  width: 100%;
}

.reg-topBg {
  background: #030303 url('../img/register_bg.png') no-repeat left top;
  background-size: cover;
  width: 100%;
  height: 985px;
  text-align: center;
  vertical-align: baseline;
  padding-top: 300px;
  color: #fff;
  font-family: Lato;
  font-weight: normal;
  font-size: 18px;
}

.reg-aar-logo {
  background: url('../img/AAR_R_white.png') no-repeat left top;
  width: 127px;
  height: 40px;
  background-size: contain;
  rgin: 30px 0 0 62px;
  position: absolute;
}

.topRightBtn-register {
  width: 340px;
  float: right;
}

.btn-signIn {
  background-color: #3ab4f5;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #fff;
  display: block;
  border: 0;
  text-decoration: none;
  width: 190px;
  height: 53px;
  font-size: 18px;
  padding: 2px 0 0 0;
  margin: 25px 25px 25px 0;
  float: right;
}

.btn-signIn:hover {
  text-decoration: none;
  color: #fff;
}

a.btn-contactus {
  background: transparent;
  border: 0;
  margin: 40px 0 0 0;
  font-size: 18px;
  color: #f2f2f2;
  font-family: Lato;
  outline: 0;
  float: left;
  text-decoration: none;
}

a.btn-contactus:hover,
a.btn-contactus:visited {
  text-decoration: none;
  font-family: Lato;
}

.reg-topBg span {
  font-size: 32px;
  width: 100%;
  display: block;
  margin: 60px 0 0 0;
  text-align: center;
  font-weight: bold;
}

.reg-description {
  margin-top: 80px;
}

.reg-top-infolink {
  margin-top: 135px;
}

.reg-top-infolink a {
  color: #3ab4f5;
}

.reg-top-infolink a:hover {
  text-decoration: none;
}

.registration-content {
  width: 1024px;
  margin: 0 auto;
}

.register-heading {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-weight: normal;
  font-size: 18px;
}

.register-heading h2 {
  margin: 80px 0 60px 0;
  font-size: 36px;
  font-weight: normal;
}

.required-hint {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 100px;
  color: #979797;
}

.required-hint span {
  color: #3ab4f5;
}

.field-wrap {
  color: #fff;
  margin: 0 0 32px 0;
}

.field-wrap label {
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  font-weight: normal;
}

.field-wrap input[type=text],
.field-wrap input[type=number],
.field-wrap input[type=email],
.field-wrap select {
  width: 100%;
  background-color: #353636;
  padding: 5px;
  font-size: 18px;
  border: 0;
  max-width: 478px;
  font-weight: normal;
  height: 45px;
  font-family: Lato;
  outline: 0;
}

input:invalid,
select:invalid {
  box-shadow: none;
}

.field-wrap label span {
  color: #3ab4f5;
  width: 8px;
  display: inline-block;
  margin: 0 3px 0 -10px;
  font-size: 18px;
}

.checkbox {
  margin: 40px 0 60px 0;
}

.checkbox > span {
  float: left;
  margin: 0 0 0 -12px;
  color: #3ab4f5;
}

.checkbox label a {
  display: inline-block;
  color: #3ab4f5;
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  left: 0;
  bottom: 6px;
  background-color: #000;
}

.checkbox label {
  margin: 6px 0 0 -30px;
  display: block;
}

.checkbox label:before {
  border-radius: 0;
  border: solid 1px #3ab4f5;
  margin: 0 15px 0 6px;
}

.checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
}

.reg-btn-wrap {
  margin: 0 0 110px 0;
}

a.button {
  display: block;
  padding-top: 7px;
}

a.button:hover {
  cursor:pointer;
  text-decoration: none;
}

.reg-btn-wrap input,
.reg-btn-wrap button,
.reg-btn-wrap a.button {
  background-color: transparent;
  height: 40px;
  font-size: 18px;
  color: #3ab4f5;
  outline: 0;
  text-align: center;
  border: 0;
  min-width: 110px;
  font-weight: normal;
  border: solid 2px #3ab4f5;
}

.reg-btn-wrap input[type=button]:hover,
.reg-btn-wrap a:hover,
.reg-btn-wrap a.button.selected {
  background-color: #3ab4f5;
  height: 40px;
  font-size: 18px;
  color: #fff;
  outline: 0;
  text-align: center;
  border: 0;
  min-width: 110px;
  font-weight: normal;
  border: solid 2px #3ab4f5;
}

.modal.customprog .modal-content {
  background-color: #ccc;
}
.modal.customprog .modal-content .modal-body .progress-bar {
  background-color: #777;
}
.modal.customprog .modal-content .modal-header h3 {
  color: #000;
}

/* Popup Notification Style */
#registerPopupBox {
  display: block;
}

#regMsgBox,
#regMsgSuccess,
#regMsgFail{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.regNotification {
  margin: 70px auto;
  padding: 70px 50px 70px 30px;
  background-color: #010101;
  border: solid 1px #353636;
  width: 30%;
  position: relative;
}

.regNotification i {
  color: #3ab4f5;
  font-size: 28px;
  font-weight: normal;
  -webkit-text-stroke: 3px #000;
  padding: 3px 0;
  border: solid 1px #3ab4f5;
  border-radius: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  width: 36px;
  text-align: center;
}

.regMsgContent {
  float:left;
  margin-left: 20px;
  width: 80%;
}

.regMsgIcon {
  float: left;
}

.regNotification h2 {
  margin-top: 0;
  color: #fff;
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
}

.regNotification .regPopupclose {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  text-decoration: none;
  color: #353636;
}

.regNotification .regPopupclose:hover {
  color: #fff;
}
.regNotification .msgDetail {
  max-height: 30%;
  overflow: auto;
  color: #fff;
}

/* Terms and condition modal */
.termsModal {
  position: fixed;
  font-family: Lato;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.termsModal > div::-webkit-scrollbar,
::-webkit-scrollbar{
  width: 20px;
}

.termsModal > div::-webkit-scrollbar-track,
::-webkit-scrollbar-track
{
  -webkit-border-radius: 0;
  border-radius: 0;
}
 
.termsModal > div::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #3ab4f5;
  border: solid 8px #000;
}

.termsModal > div::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:window-inactive
{
  background: #3ab4f5;
  border: solid 8px #000;
}

.termsModal:target,
:target
{
  opacity:1;
  pointer-events: auto;
}

.termsModal > div {
  width: 80%;
  position: relative;
  margin: 10% auto 0;
  padding: 80px 100px;
  background: #000;
  border: solid 1px #353636;
  height: 70%;
  overflow-y: scroll;
}

.termsModal > div > h2 {
  margin-bottom: 60px;
}

.termsModal > div p{
  font-size: 13px;
}

.termsClose {
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
}

.termsClose:hover {
  text-decoration: none;
  color: #fff;
}

.selected {
  background-color: #3ab4f5 !important;
  height: 40px;
  font-size: 18px;
  color: #fff !important;
  outline: 0;
  text-align: center;
  border: 0;
  min-width: 110px;
  font-weight: normal;
  border: solid 2px #3ab4f5;
}

/*IE fix for input box clear icon*/
input::-ms-clear{
  display: none;
}

/*IE fix for select option background*/
select:focus::-ms-value {
  background-color: transparent;
}

/* Real Person jQuery plugin styles v2.0.1. */
.realperson-challenge {
  display: block;
  color: white;
}
.realperson-text {
  font-family: "Courier New",monospace !important;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3px;
  color: #fff;
}

.realperson-regen {
  padding-top: 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.realperson-disabled {
  opacity: 0.5;
  filter: Alpha(Opacity=50);
}

.realperson-disabled .realperson-regen {
  cursor: default;
}

.is-realperson {
  color: white !important;
  text-transform:uppercase;
}
