pool-order-details {
  display: block;
  flex-direction: column;
  height: 100%;
  border-left: solid 2px $primary-border-color;
  h2 {
    padding: 40px 36px 18px 46px;
  }

  tabs {
    height: calc(100% - 103px);
  }

  .pod-close {
    a {
      display: inline-block;
      margin-top: 45px;
      margin-right: 20px;
      i {
        padding: 36px 40px 0 0;
      }
    }
  }

  ul.nav {
    padding: 0 0 0 46px;
    margin: 0;
    li {
      &:first-child {
        width: 20%;
      }
      display: inline-block;
      width: 30%;
      text-align: left;
      &:before {
        background: none;
      }
      a {
        padding: 0 0 22px 0;
        margin: 0;
      }
    }
  }

  .table-striped {
    thead {
      tr {
        th {
          padding-top: 24px;
          padding-bottom: 12px;
        }
      }
    }

    tbody {
      tr:nth-of-type(even) {
        background-color: $black-color;
      }
    }
  }
}

.primary-table {
  tbody {
    tr {
      td {
        span {
          i {
            padding: 3px 8px;
            border: solid 1px $dodger-blue;
            border-radius: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            font-size: 18px;
            color: $dodger-blue;
          }
        }
      }
    }
  }
}
