	<h2 class="floatL">Pool Order Details</h2>
    <div class="floatR pod-close">
      <a href ng-click="$ctrl.close()"><i class="icon-sprite ic-close" aria-hidden="true"></i></a>
    </div>
    <div class="clearfix">&nbsp;</div>
    <tabs on-select="$ctrl.onTabChange" selected-index="$ctrl.tabIndex">
        <tab label="'S/V Part'">
            <sv-part-details items="$ctrl.part"></sv-part-details>
        </tab>
        <tab label="'U/S Off Core Part'">
            <us-off-core-part-details items="$ctrl.part" ></us-off-core-part-details>
        </tab>
        <tab label="'Order Activity'">
            <order-activity items="$ctrl.part"></order-activity>
        </tab>
    </tabs>
