/* Style The Dropdown Button */
.dropbtn {
  background-color: $black-color;
  color: $white-color;
  padding: 0 0 0 36px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 220px;
  text-align: left;
  outline: none;
  margin: 20px 0 10px 0;
  height: 70px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 999999;
  background-color: $black-color;
  top: 0;
  left: 91px;
  width: 244px;
  height: 100px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  &:hover {
    .dropbtn {
      background-color: $black-color;
    }
  }
  i {
    position: absolute;
    top: 45px;
    right: 55px;
    color: $font-grey-med;
    font-size: 18px;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $black-color;
  width: 100%;
  a {
    color: $font-grey-med;
    margin: 15px 0 30px 0;
    padding: 2px 0 2px 36px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    &:hover {
      color: $white-color;
      border-left: solid 4px $dodger-blue;
      margin: 15px 0 30px 0;
      padding: 2px 0 2px 32px;
      font-size: 18px;
    }
  }
  .dropdown-active {
    color: $white-color;
    border-left: solid 4px $dodger-blue;
    margin: 15px 0 30px 0;
    padding: 2px 0 2px 34px;
    font-size: 18px;
  }
}

.dropdown-content-show {
  display: block;
}

.dropdown-content-hide {
  display: none;
}
