<div class="dropdown">
<div ng-click="$ctrl.clickitem()"><button class="dropbtn">{{$ctrl.itemSelected.name}}</button>
	<i class="fa fa-caret-down" aria-hidden="true"></i>
	</div>
    <div ng-class="$ctrl.showDropDown ? 'dropdown-content dropdown-content-show' : 'dropdown-content dropdown-content-hide'">
        <a href="javascript:void(0);" ng-click="$ctrl.selectitem(item)"
           ng-repeat="item in $ctrl.menuItem" ng-class="item.selected ? 'dropdown-active' : ' '">
            {{ item.name }}
        </a>
    </div>
</div>