<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<header>
    <div class="landingPage-top clearfix" ng-class="$ctrl.isLandingPage ? '' : 'hide'">
        <div class="aarLogo-landing floatL"></div>
        <div class="topRightBtn-landing floatR">
            <input class="floatL btn-register" type="button" onclick="location.href='register';" value="Register"/>
            <input class="btn-signIn floatR" type="button" ng-click="$ctrl.login()" value="Sign in"/>
        </div>
    </div>
    <div class="topBar col-lg-12" ng-class="$ctrl.isLandingPage ? 'hide' : ' '">
        <div class="row">

            <div class="headerTopLeft">
                <div class="main-menu">
                    <div id="nav-icon2"
                         document-click="$ctrl.closeMenu()"
                         ng-click="$ctrl.toggleMenu()"
                         ng-class="{'open': $ctrl.isMenuOpen, 'nav-icon2-disable': $ctrl.isMenuDisabled}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div id="myNav" class="overlay" ng-class="$ctrl.isMenuOpen ? 'openMenu' : 'closeMenu'" >
                        <div class="overlay-content" >
                            <a href ng-click="$ctrl.changeState(0)" ng-class="$ctrl.overview ? 'menuSelected' : ' '">Overview</a>
                            <a href ng-click="$ctrl.changeState(1)" ng-class="$ctrl.dashboard ? 'menuSelected' : ' '">Dashboard</a>
                        </div>
                    </div>
                </div>
                <div ui-sref="root.dashboard" class="aarive-logo">&nbsp;</div>
            </div>
            <dropdown-Menu ng-if="$ctrl.inSearchMode"></dropdown-Menu>
            <div class="headerTopRight" ng-class="{'has-create-btn': $ctrl.can($ctrl.actionNewPoolReq) }">
                <a ng-if="$ctrl.can($ctrl.actionNewPoolReq)" ng-class="$ctrl.isNewPoolPage || $ctrl.inSearchMode ? 'btn-create btn-create-disable' : 'btn-create'"  ui-sref="root.newPoolRequest" id="createBtn" class="">
                    Create new &nbsp;
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>

                <div class="drop-nav">
                    <a
                      href
                      ng-click="$ctrl.openUserDropdown()"
                      ng-class="$ctrl.isNewPoolPage || $ctrl.inSearchMode ? 'btn-login btn-login-disable' : 'btn-login'"
                      class="user-icon-hgt btn-login"
                    >
                        <i class="icon-sprite ic-user" aria-hidden="true"></i>
                    </a>
                    <ul ng-if="$ctrl.isUserDropdownOpen" click-out="$ctrl.closeUserDropdown()" id="dropdown">
                        <li><a href="#" ng-click="$ctrl.signout()">Sign out</a></li>
                    </ul>
                </div>

            </div>
            <form class="searchComp">
                <div ng-class="{'btn-search-disable': $ctrl.isNewPoolPage}">
                    <input id="search-box" type="text" class="search-input" placeholder="" ng-model="$ctrl.searchData" ng-focus="$ctrl.onFocusSearchBox()" autocomplete="off">
                    <button ng-click="$ctrl.doSearch()" class="btn-search" id="searchButton" ng-class="$ctrl.inSearchMode ? 'btn-search-active' : 'btn-search'">
                        <i class="fa fa-search animated" aria-hidden="true" id="myBtn"></i>
                    </button>
                    <a href=""class="search-text-close" ng-if="$ctrl.inSearchMode" ng-click="$ctrl.exitSearchMode()"><i class="icon-sprite ic-close" aria-hidden="true"></i></a>
                </div>

                <!-- The List Modal -->


            </form>



        </div>
    </div>
</header>
<main>
    <div ui-view="main" class="ui-view-main"></div>
</main>
<modal-popup modal-value="$ctrl.modal" class=""></modal-popup>