layout > header {
  background-color: $lightbg;
  border-bottom: 2px solid $primary-border-color;
  display: flex;
  flex-direction: row;
}

.floatL {
  float: $left;
}

.floatR {
  float: $right;
}

.fullwidth {
  width: $full-width;
}

.hide {
  @include hide;
}

.noSpace {
  @include nospace;
}

.dodger-blue {
  color: $dodger-blue;
}

.topBar {
  height: 100px;
  background-color: $lightbg;
  width: $full-width;
  .main-menu {
    width: 91px;
    height: 100px;
    border-right: solid 1px $primary-border-color;
    float: left;
    padding-top: 35px;
    background-color: $dark-grey-bg;
  }
  .aarive-logo {
    background: url("../img/aarive-logo.png") no-repeat left top;
    float: left;
    width: 200px;
    height: 45px;
    margin: 25px 0 0 30px;
    cursor: pointer;
  }

  .search-input {
    color: $white-color;
    height: 96px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    font-size: 40px;
    font-weight: normal;
    text-transform: none;
    float: left;
    outline: 0;
    width: 73%;
  }
  /* Menu  Hamburger icon on top left starts.*/
  #nav-icon2 {
    width: 31px;
    height: 22px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }

  #nav-icon2 {
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 50%;
      background-color: $white-color;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0;
      }

      &:nth-child(odd) {
        left: 0;
        border-radius: 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 10px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 20px;
      }
    }
  }

  .nav-icon2-disable {
    pointer-events: none;
    cursor: default;
    span {
      background: $disable-span !important;
    }
  }

  #nav-icon2.open {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 3px;
        top: 7px;
      }

      &:nth-child(2) {
        left: calc(50% - 3px);
        top: 7px;
      }

      &:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      &:nth-child(5) {
        left: 3px;
        top: 17px;
      }

      &:nth-child(6) {
        left: calc(50% - 3px);
        top: 17px;
      }
    }
  }

  .headerTopLeft {
    padding: 0;
    width: 330px;
    float: left;
  }

  .searchComp {
    padding: 0;
    width: 48%;
    float: right;

    @include extraLarge-device {
      width: 51%;
    }

    @include mediumLarge-device {
      width: 58%;
    }

    @include aboveExtraLarge-device {
      width: 63%;
    }

    @include aboveExtraPlus-device {
      width: 72%;
    }

    .btn-search,
    .btn-search-active {
      @include topBar-icon;
      margin: 29px 15px 0 0;
      float: right;
      background: none;
      border: 0;
      width: 100px;
      text-align: center;
      outline: 0;

      @include extraLarge-device {
        margin-right: 0;
      }

      &:hover i {
        color: $highlight-grey;
      }

      &:focus {
        color: $white-color;
      }
    }

    .btn-search-active {
      @include btn-dodger;
      margin: 0;
      width: 100px;
      padding: 0;

      &:hover i {
        color: $white-color;
      }
    }

    .btn-search-disable {
      pointer-events: none;
      cursor: default;
    }

    .search-text-close {
      -webkit-text-stroke: 5px $lightbg;
      padding: 26px 25px 0 0;
      font-size: 38px;
      text-align: center;
      color: $white-color;
      float: right;
      cursor: pointer;
    }
  }

  .headerTopRight {
    $create-btn-width: 266px;
    padding: 0;
    width: 100px;
    float: right;

    &.has-create-btn {
      width: 100px + $create-btn-width;
    }

    .btn-create {
      float: left;
      width: $create-btn-width;

      @include btn-dodger;
      padding: 35px 0 0 0;
      &:hover {
        color: $white-color;
        text-decoration: none;
      }
    }

    .btn-create-disable {
      @include disable-btn;
    }

    .btn-login {
      @include topBar-icon;
      margin: 34px 0 0 0;
      width: 100px;
      text-align: center;

      &:hover i {
        -webkit-animation-name: bounce;
        animation-name: bounce;
        color: $white-color;
      }

      &:focus {
        color: $white-color;
      }
    }

    .btn-login-disable {
      pointer-events: none;
      cursor: default;
      color: $disable-span;
    }
  }
}

/* Animation effact starts*/
.animated {
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: bounceIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Animation for webkit*/
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); }
  40% { -webkit-transform: translateY(-8px); }
  60% { -webkit-transform: translateY(-6px); }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-8px); }
  60% { transform: translateY(-6px); }
}

/* Modal popup style starts */
.searchDD {
  position: fixed;
  z-index: 2;
  left: 0;
  top: -1px;
  overflow: auto;
  width: 225px;
  margin-left: 100px;
}

/* Modal Content */
.searchDD-content {
  position: relative;
  background-color: #fefefe;
  padding: 0;
  width: 225px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  float: left;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.search-close {
  color: $font-grey-med;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 3;
  position: inherit;
  display: block;
  padding: 10px 20px 0 0;
}

.close:hover,
.close:focus {
  color: $font-grey-med;
  text-decoration: none;
  cursor: pointer;
}

.searchDD-body {
  color: #acacac;
  background: $black-color;

  .searchDD-wrap {
    padding: 0;
    color: $white-color;
    font-size: $font18;
    height: 100px;

    &:hover {
      height: 352px;
      background: none;
    }

    select {
      background-color: $black-color;
      outline: 0;
      border: 0;
      padding: 15px 0;
    }

    i {
      color: $font-grey-med;
      vertical-align: middle;
      font-size: $font18;
      float: right;
    }

    input {
      background-color: $black-color;
      color: #acacac;
      padding: 3px;
      margin: 0 0 20px 15px;
      border: 0;
      outline: 0;
      font-family: Lato;
      width: 150px;
      font-size: $font18;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill {
        font-family: Lato;
        -webkit-text-fill-color: #acacac;
        -webkit-box-shadow: 0 0 0 1000px $black-color inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  i {
    font-size: 28px;
  }

  .searchDD-bottom {
    a {
      color: $search-dd-text;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 15px 0;

        a {
          font-size: $font18;
          padding-left: 30px;
          font-family: LatoLight;
          display: block;
          text-decoration: none;

          &:hover {
            color: $white-color;
            text-decoration: none;
            border-left: solid 4px $dodger-blue;
            padding-left: 26px;
          }
        }

        .active-search {
          color: $white-color;
          text-decoration: none;
          border-left: solid 4px $dodger-blue;
          padding-left: 26px;
        }
      }
    }
  }
}

/* input, select, textarea autofill color chagne */
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: Lato;
  font-size: 18px;
  -webkit-text-fill-color: #acacac;
  -webkit-box-shadow: 0 0 0 1000px $black-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Main menu css starts */
.overlay {
  height: 180px;
  width: 0;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 0;
  background-color: $dark-grey-bg;
  overflow-x: hidden;
  transition: 0.5s;
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .menuSelected {
    border-left: solid 3px $dodger-blue;
    color: $white-color;
  }
}

.overlay-content {
  width: 100%;
  text-align: left;
  margin-top: 52px;
  a {
    margin: 15px 0;
    padding: 0 0 0 25px;
    border-left: solid 3px transparent;
    &:hover,
    &:focus {
      color: $white-hightlight;
    }
  }
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.openMenu {
  width: 245px;
}

.closeMenu {
  width: 0%;
}

.drop-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 160px;
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 102px;
  text-align: center;
}

.drop-nav ul li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.drop-nav ul li a {
  display: block;
  background: $black-color;
  text-decoration: none;
  white-space: nowrap;
  color: $white-color;
  padding: 15px 25px;
  font-size: 20px;
}

.drop-nav ul li a:hover {
  background: $dodger-blue;
}

li:hover li {
  float: none;
}

.drop-nav li {
  border-top: 0;
}

.user-icon-hgt {
  height: 68px;
}

/* search result block */
.searchResult-wrap {
  background-color: $black-color;
  border-bottom: 1px solid $primary-border-color;

  span {
    color: $dodger-blue;
  }

  div {
    font-size: 36px;
    font-family: Lato;
    padding: 24px 0 24px 100px;
  }

  .search-result-close {
    -webkit-text-stroke: 5px $black-color;
    padding: 26px 25px 0 0;
    font-size: 38px;
    text-align: center;
    color: $white-color;
    float: right;
    cursor: pointer;
  }
}

/* auto-complete block */
div.auto-complete-container {
  border: 1px solid $dodger-blue;
  background-color: $grey-medium;
  white-space: nowrap;
}

div.auto-complete-absolute-container {
  position: absolute;
  z-index: 10000;
}

div.auto-complete-container ul.auto-complete-results {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

div.auto-complete-container ul.auto-complete-results li.auto-complete-item {
  list-style-type: none;
  padding: 8px 5px;
  background-color: $row-even-strip-grey;
  cursor: pointer;
  font-weight: bold;
}

div.auto-complete-container ul.auto-complete-results li.auto-complete-item:hover {
  background-color: $autofill-select-bg;
  color: $white-color;
}

div.auto-complete-container ul.auto-complete-results li.auto-complete-item-selected {
  background-color: $autofill-select-bg;
  color: $white-color;
}

div.auto-complete-container table.auto-complete {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  border-width: 0;
  border-style: none;
}

div.auto-complete-container table.auto-complete tr {
  white-space: nowrap;
  text-align: left;
}

div.auto-complete-container table.auto-complete tbody tr > td {
  padding: 0;
  background-color: transparent;
  border-width: 0;
}
