<div class="loader">
    <span class="stripe-5"></span>
    <span class="stripe-4"></span>
    <span class="stripe-3"></span>
    <span class="stripe-2"></span>
    <span class="stripe-1"></span>
    <div class="text" ng-if="$ctrl.loadingMessage">
        {{$ctrl.loadingMessage}}
    </div>
</div>
