$loader-overall-duration: $base-transition-time * 15;
$loader-single-duration: $loader-overall-duration * 0.6;
$loader-min-opacity: 0.3;
$loader-curve: linear;
$loader-width: 71px;
$loader-thickness: 2px;

loading-indicator {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
}

.loader {
  position: relative;
  transform: translateX(-50%) translateY(-45%);
  font-size: 14px;
  color: $font-grey-dark;
  background: rgba($background-color, 1);
  border-radius: 5px;
  padding: 20px;
  pointer-events: none;
  span {
    height: $loader-thickness;
    width: $loader-width;
    display: block;
    background-color: $dodger-light;
    margin: 0 auto;
    margin-bottom: 10px;
    &.stripe-1 {
      margin-bottom: 0;
    }
  }
  .text {
    margin-top: 15px;
  }
}

@mixin loader-keyframes($num) {
  $offset: ($loader-overall-duration - $loader-single-duration) / 4;
  $start: 100 * (($num - 1) * $offset) / $loader-overall-duration;
  $end: 100 * ((($num - 1) * $offset) + $loader-single-duration) / $loader-overall-duration;
  $mid: 0% + ($end + $start) / 2;
  $start: 0% + $start;
  $end: 0% + $end;
  0% {
    opacity: $loader-min-opacity;
  }
  #{$start} {
    opacity: $loader-min-opacity;
  }
  #{$mid} {
    opacity: 1;
  }
  #{$end} {
    opacity: $loader-min-opacity;
  }
  100% {
    opacity: $loader-min-opacity;
  }
}

.stripe-1 {
  animation: one $loader-overall-duration $loader-curve infinite;
}

@keyframes one {
  @include loader-keyframes(1);
}

.stripe-2 {
  animation: two $loader-overall-duration $loader-curve infinite;
}

@keyframes two {
  @include loader-keyframes(2);
}

.stripe-3 {
  animation: three $loader-overall-duration $loader-curve infinite;
}

@keyframes three {
  @include loader-keyframes(3);
}

.stripe-4 {
  animation: four $loader-overall-duration $loader-curve infinite;
}

@keyframes four {
  @include loader-keyframes(4);
}

.stripe-5 {
  animation: five $loader-overall-duration $loader-curve infinite;
}

@keyframes five {
  @include loader-keyframes(5);
}

/** Common Spinner Loading Indicator **/
.spin-loader {
  $size: 26.5px; // try to match the size of the status icons
  border: 4px solid $dark-grey;
  border-top: 4px solid $dodger-light;
  border-bottom: 3px solid $dodger-light;
  border-right: 3px solid $dodger-light;
  border-radius: 50%;
  width: $size;
  height: $size;
  animation: spin (10 * $base-transition-time) linear infinite;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
