<div class="scroll-container poolTab-content-wrap" ng-animate-children>
  <div class="row" ng-if="!$ctrl.freightForwarderLov.isLoading">
     <div class="col-lg-12 field-row">
        <div class="col-lg-12"><h3>Resolution</h3></div>
        <div class="col-lg-12 pod-label">{{$ctrl.resolution}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-12"><h3>Resolve</h3></div>
        <div class="col-lg-4 pod-label">Freight Forwarder</div>
        <div class="col-lg-8 pod-field-content">
            <select id="freightForwarder" name="freightForwarder" ng-model="$ctrl.offCore.forwarder"
                    ng-options="freight as freight.CarrmethName for freight in $ctrl.freightForwarderLov.items">
                <option value=""></option>
            </select>
        </div>
        <div class="col-lg-4 pod-label">Airway Bill</div>
        <div class="col-lg-8 pod-field-content">
            <input type="text" name="" ng-model="$ctrl.offCore.airwayBill"> <br/>
            <!--<a href="">View Repair Bill</a>-->
        </div>
     </div>
     <div class="col-lg-12 field-row pod-btn-wrap" ng-hide="$ctrl.sendPending || $ctrl.sendSuccess">
        <div class="col-lg-3"><button type="button" class="pod-save" ng-click="$ctrl.submitOffCore()">Submit</button></div>
     </div>
  </div>
    <loading-indicator message="''" delay-show="$ctrl.freightForwarderLov.isLoading || $ctrl.sendPending"> </loading-indicator>
</div>
<modal-popup modal-value="$ctrl.modal" class=""></modal-popup>