<form id="offCoreReturnForm" name="$ctrl.offCoreReturnForm">
<div class="scroll-container poolTab-content-wrap" ng-animate-children>
    <div class="row" ng-if="$ctrl.offCoreReturnDetails.isLoading == false">
        <div class="col-lg-12 field-row">
            <div class="col-lg-12"><h3>Resolution</h3></div>
            <div class="col-lg-12 pod-label">{{$ctrl.resolution}}</div>
        </div>
        <div class="col-lg-12 field-row">
            <div class="col-lg-12"><h3>Resolve</h3></div>
        </div>
        <div class="col-lg-12 field-row">
            <div class="col-lg-3 pod-label">Tail#</div>
            <div class="col-lg-9">{{$ctrl.TailNo}}</div>
        </div>
        <div class="col-lg-12 field-row">
            <div class="col-lg-3 pod-label">Part#</div>
            <div class="col-lg-9 pod-field-content"><input id="" type="text" name="" ng-model="$ctrl.PartNo"></div>
        </div>
        <div class="col-lg-12 field-row">
            <div class="col-lg-3 pod-label"><span class="dodger-blue">*</span>Serial#</div>
            <div class="col-lg-9 pod-field-content"><input id="" type="text" name="" ng-model="$ctrl.SerialNo" required></div>
            <div class="sub-serialbox col-lg-9 col-lg-offset-3">
                <div class="fullwidth clearfix">
                    <div class="col-lg-1 noSpace">TSN</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.TSN"></div>
                    <div class="col-lg-1 noSpace">CSN</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.CSN"></div>
                    <div class="col-lg-1 noSpace">DSN</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.DSN"></div>
                </div>
                <div class="fullwidth clearfix">
                    <div class="col-lg-1 noSpace">TSO</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.TSO"></div>
                    <div class="col-lg-1 noSpace">CSO</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.CSO"></div>
                    <div class="col-lg-1 noSpace">DSO</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.DSO"></div>
                </div>
                <div class="fullwidth clearfix">
                    <div class="col-lg-1 noSpace">TSR</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.TSR"></div>
                    <div class="col-lg-1 noSpace">CSR</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.CSR"></div>
                    <div class="col-lg-1 noSpace">DSR</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.DSR"></div>
                </div>
                <div class="fullwidth clearfix">
                    <div class="col-lg-1 noSpace">TSI</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.TSI"></div>
                    <div class="col-lg-1 noSpace">CSI</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.CSI"></div>
                    <div class="col-lg-1 noSpace">DSI</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.DSI"></div>
                </div>
                <div class="fullwidth clearfix">
                    <div class="col-lg-1 noSpace">TR</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.TR"></div>
                    <div class="col-lg-1 noSpace">CR</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.CR"></div>
                    <div class="col-lg-1 noSpace">DR</div>
                    <div class="col-lg-3"><input id="" type="text" name="" ng-model="$ctrl.SerialSub.DR"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 field-row">
            <div class="col-lg-12"><h3 class="title-bottom-24"><span class="dodger-blue">*</span>Reason for removal</h3></div>
            <div class="col-lg-12">
               <textarea ng-model="$ctrl.removalReason" required></textarea>
            </div>
        </div>
        <div class="col-lg-12 field-row">
            <div class="col-lg-12"><h3 class="title-bottom-20">Supporting Documentation</h3></div>
            <document-view items="$ctrl.items"></document-view>
        </div>
        <div class="col-lg-12 field-row pod-btn-wrap" ng-hide="$ctrl.sendPending || $ctrl.sendSuccess">
            <div class="col-lg-3"><button type="button" class="pod-approve" ng-click="$ctrl.submitOffCoreReturn()">Submit</button></div>
        </div>
    </div>

    <loading-indicator message="''" delay-show="$ctrl.offCoreReturnDetails.isLoading || $ctrl.sendPending"></loading-indicator>
</div>
</form>
<modal-popup modal-value="$ctrl.modal" class=""></modal-popup>