<div ng-if="$ctrl.actionRequiredParams == $ctrl.actionType.OFFCORE_AIRWAYBILL">
    <header>
        <div class="action-heading floatL" ng-if="!$ctrl.value.isLoading">
           <h2>{{$ctrl.actionRequired.name}}</h2>
           <span>{{$ctrl.actionRequired.description}}</span>
       </div>
        <div class="floatR pod-close">
            <a href ng-click="$ctrl.dispClosePopup()"><i class="icon-sprite ic-close" aria-hidden="true"></i></a>
        </div>
    </header>
    <action-off-core items="$ctrl.actionPart" ></action-off-core>
</div>
<div ng-if="$ctrl.actionRequiredParams == $ctrl.actionType.OFFCORE_RETURN">
  <header>
    <div class="action-heading floatL" ng-if="!$ctrl.value.isLoading">
        <h2>{{$ctrl.actionRequired.name}}</h2>
        <span>{{$ctrl.actionRequired.description}}</span>
    </div>
    <div class="floatR pod-close">
        <a href ng-click="$ctrl.dispClosePopup()"><i class="icon-sprite ic-close" aria-hidden="true"></i></a>
    </div>
    <div class="clearfix">&nbsp;</div>
  </header>
  <action-off-core-return items="$ctrl.actionPart"></action-off-core-return>
</div>
<div ng-if="$ctrl.OFFCORE_AIRWAYBILL != $ctrl.actionType.OFFCORE_AIRWAYBILL && $ctrl.actionRequiredType != $ctrl.actionType.OFFCORE_RETURN">
  <header>
    <div class="action-heading floatL">
      <h2>Unable to determine action required</h2>
      <span>U/S Status: {{$ctrl.actionPart.UsStatus}}</span>
    </div>
    <div class="floatR pod-close">
      <a href ng-click="$ctrl.dispClosePopup()"><i class="icon-sprite ic-close" aria-hidden="true"></i></a>
    </div>
    <div class="clearfix">&nbsp;</div>
  </header>
</div>
<modal-popup modal-value="$ctrl.modal" class=""></modal-popup>