action-required {
  display: block;
  flex-direction: column;
  height: 100%;
  border-left: solid 2px $primary-border-color;
  > * {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  h2 {
    padding: 40px 36px 18px 46px;
  }
  tabs {
    height: calc(100% - 103px);
  }
  .pod-close {
    a {
      display: inline-block;
      margin-top: 45px;
      margin-right: 20px;
      i {
        padding: 36px 40px 0 0;
      }
    }
  }

  ul.nav {
    padding: 0 0 0 46px;
    margin: 0;
    li {
      &:first-child {
        width: 20%;
      }
      display: inline-block;
      width: 30%;
      text-align: left;
      &:before {
        background: none;
      }
      a {
        padding: 0 0 22px 0;
        margin: 0;
      }
    }
  }
}
