<div class="col-lg-12 field-row">
    <div class="col-lg-12 pod-docs" ng-repeat="item in $ctrl.customerDocData.items">
        <a href ng-click="$ctrl.openDoc(item)">&nbsp;{{item.FileName}}</a>
    </div>
    <div class="col-lg-12 loader-container">
        <div class="side-loader" ng-show="$ctrl.uploadPending"></div>
    </div>
    <div ng-show="$ctrl.can($ctrl.actionAddCustomerDocuments)" class="col-lg-12 adddoc" ng-show="!$ctrl.uploadPending">
        <div class="fileUpload">
            <span href="">Add Document <i class="fa fa-plus" aria-hidden="true"></i></span>
            <input type="file" id="filePicker" class="upload" ng-model="$ctrl.file" />
        </div>
    </div>
    {{$ctrl.uploadMessage}}
</div>