<div class="scroll-container">
	<div class="pageBg element">
		<div class="air-newzealand-logo">&nbsp;</div>
	</div>

	<div class="db-bottom-nav">
		<div class="col-lg-10 col-lg-offset-1">
			<ul class="tile-container">
				<a href ng-click="$ctrl.openDashboard()" class="tile-item">
					<li class="activeitem">
						<span>Pool</span>
						<div class="count">{{$ctrl.counts.all.total || 0}}</div>
						<span></span>
					</li>
				</a>
				<a href ng-repeat="filter in $ctrl.filterTiles" ng-click="$ctrl.openDashboard(filter.key)" class="tile-item">
					<li>
						<span><i class="fa fa-exclamation" aria-hidden="true" ng-if="$ctrl.counts[filter.key].actionRequired > 0"></i></span>
						<div class="count">{{$ctrl.counts[filter.key].total || 0}}</div>
						<span>{{filter.label}}</span>
					</li>
				</a>
			</ul>
		</div>

	</div>
</div>