home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pageBg {
  background: $black-color url("../img/login_bg.jpg") no-repeat 0 38%;
  background-size: cover;
  width: $full-width;
  position: relative;
  height: calc(100% - 380px);

  @include large-device {
    height: calc(100% - 420px);
  }

  @include mediumLarge-device {
    height: calc(100% - 470px);
  }

  @include aboveExtraLarge-device {
    height: calc(100% - 470px);
  }

  @include aboveExtraPlus-device {
    height: calc(100% - 610px);
  }
}

.air-newzealand-logo {
  background: url("../../img/air-new-zealand-logo.svg") no-repeat center center;
  height: 100%;
  width: $full-width;
  position: absolute;
}

.db-bottom-nav {
  background-color: $dark-grey;
  float: left;
  padding: 100px 0;
  width: 100%;
  position: absolute;
  bottom: 0;

  @include aboveExtraPlus-device {
    padding: 170px 0;
  }

  .tile-container {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    a.tile-item {
      flex: 1;
      li {
        width: 100%;
      }
    }
  }

  ul {
    a {
      li {
        list-style: none;
        padding: 20px 0;
        display: inline-block;
        color: $font-grey-med;
        background-color: $dark-grey-bg;
        float: left;
        cursor: pointer;
        z-index: 0;
        position: relative;
        text-align: center;
        min-height: 210px;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;

        @include extraLarge-device {
          min-height: 260px;
        }

        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          background-color: $grey-light;
          box-shadow: 5px 7px 22px 0 rgba(0, 0, 0, 0.24);
          z-index: 2;
        }

        &:hover div.count {
          font-size: 90px;
          line-height: 124px;

          @include extraLarge-device {
            font-size: 100px;
          }
        }

        span {
          font-family: LatoMedium;
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          text-align: center;
          color: $dodger-blue;
          width: $full-width;
          height: 30px;
          display: block;
          i {
            padding: 3px 10px;
            border: solid 1px $dodger-blue;
            border-radius: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            font-size: 24px;
          }
        }
        div.count {
          font-family: LatoLight;
          font-size: 68px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          text-align: center;
          color: $white-color;
          display: block;
          width: $full-width;
          text-decoration: none;
        }
      }
      .activeitem {
        -webkit-transform: scale(1.1) !important;
        transform: scale(1.1) !important;
        background-color: $grey-light !important;
        box-shadow: 5px 7px 22px 0 rgba(0, 0, 0, 0.24) !important;
        z-index: 2 !important;
        display: block;
        padding: 25px 20px 20px 20px !important;
        div {
          font-size: 90px !important;
          padding: 10px 0 0 0;
          line-height: 124px;
          height: 119px;
        }
        span {
          font-size: 33px;
        }
      }
    }
  }
}

@include extraLarge-device {
  .activeitem {
    a {
      font-size: 100px !important;
    }
  }
}
