@mixin effect($name, $time) {
  animation-name: $name;
  animation-duration: $time;
  animation-fill-mode: both;
}

.delay-hide {
  pointer-events: none;
  opacity: 0;
  transition: opacity linear ($base-transition-time * 10);
  &.delay-show {
    pointer-events: auto;
    opacity: 1;
  }
}

.ui-view-right-overlay {
  transition: all 90s linear;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  > * {
    pointer-events: auto;
    background: $black;
    top: 0;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    z-index: 4;
  }
  &.ng-enter > * {
    @include effect(slideInRight, 10 * $base-transition-time);
    animation-fill-mode: none;
  }
  &.ng-leave > * {
    @include effect(slideOutRight, 10 * $base-transition-time);
  }
}
