datepicker a,
[datepicker] a,
.datepicker a {
  color: $white-color;
}

datepicker select,
datepicker select:focus,
datepicker select:hover,
.datepicker select,
.datepicker select:focus,
.datepicker select:hover,
[datepicker] select,
[datepicker] select:focus,
[datepicker] select:hover {
  color: $white-color;
  background-color: $dodger-blue;
}

._720kb-datepicker-calendar {
  background: $black-color;
  color: $white-color;
}

._720kb-datepicker-calendar-header:nth-child(odd) {
  background: $dodger-blue;
}

._720kb-datepicker-calendar-header:nth-child(even) {
  background: rgba($dodger-blue, 0.5);
}

._720kb-datepicker-calendar-day:hover,
._720kb-datepicker-calendar-day._720kb-datepicker-active {
  background: $dodger-blue;
  color: $white-color;
}

._720kb-datepicker-calendar-header a,
._720kb-datepicker-calendar-header a:hover {
  color: $white-color;
}

._720kb-datepicker-calendar-header a:hover {
  background: $dodger-blue;
}

._720kb-datepicker-calendar-month {
  color: $white-color;
  // This is to override the styles from `.poolField-wrap .fieldrow i`:
  a span i {
    color: inherit !important;
    font-size: inherit !important;
  }
}

._720kb-datepicker-calendar-month span {
  color: $white-color;
}

._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active {
  background: $dodger-blue;
  color: $white-color;
}

._720kb-datepicker-calendar-days-header {
  background: rgba($dodger-blue, 0.7);
  border-bottom: none;
}

._720kb-datepicker-calendar-days-header div {
  color: $white-color;
}

._720kb-datepicker-calendar-day._720kb-datepicker-disabled,
._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover {
  color: rgba(0, 0, 0, 0.2);
  background: rgba($dodger-blue, 0.02);
}
