@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/Lato/LatoLatin-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBlack';
  src: url('../fonts/Lato/LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoHairline';
  src: url('../fonts/Lato/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoHairline';
  src: url('../fonts/Lato/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-HairlineItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoHeavy';
  src: url('../fonts/Lato/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoHeavy';
  src: url('../fonts/Lato/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoMedium';
  src: url('../fonts/Lato/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoMedium';
  src: url('../fonts/Lato/LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('../fonts/Lato/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('../fonts/Lato/LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-SemiboldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoThin';
  src: url('../fonts/Lato/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoThin';
  src: url('../fonts/Lato/LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato/LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato/LatoLatin-ThinItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
