// IE11 hacks
_:-ms-fullscreen, :root {
  // Display fixed table headers properly
  table.clone th {
    box-sizing: content-box;
  }

  // IE does not support borders on table rows
  // TODO: Consider refactoring CSS for all browsers to apply borders to table cells
  .table-selectable {
    > tbody > tr {
      > td:first-child {
        border-left: none;
      }

      &.selected,
      &:hover {
        border-left: none;
        td:first-child {
          border-left: 2 * $table-border-left solid $dodger-blue;
        }
      }
    }
  }
}

/*IE fix for input box clear icon*/
input {
  &::-ms-clear {
    display: none;
  }
}

/*IE fix for select option background*/
select {
  &:focus::-ms-value {
    background-color: transparent;
  }
}

