@mixin exclaimation-icon {
  padding: 3px 8px;
  border: solid 1px $dodger-blue;
  border-radius: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  color: $dodger-blue;
}

@mixin text-normal-dodger {
  font-family: LatoMedium;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $dodger-blue;
  width: $full-width;
}

@mixin tile-large-text {
  font-family: LatoLight;
  font-size: 68px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $white-color;
  display: block;
  width: $full-width;
  text-decoration: $none;
}

@mixin btn-dodger {
  height: 100px;
  background-color: $dodger-blue;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $white-color;
  display: block;
  border: 0;
  text-decoration: none;
  &:hover {
    background-color: $dodger-blue-hover;
  }
}

@mixin disable-btn {
  background-color: $black-color;
  color: $disable-text;
  pointer-events: none;
  cursor: default;
  &:hover {
    color: $disable-text;
    text-decoration: none;
  }
}

@mixin topBar-icon {
  float: $left;
  font-size: 30px;
  color: $white-color;
}

@mixin hide {
  display: none;
}

@mixin nospace {
  padding: 0;
  margin: 0;
}

/* Mixin for extra large device */
$large-device: 1366px;
$extraLarge-device: 1440px;
$mediumLarge-device: 1680px;
$aboveExtraLarge-device: 1920px;
$aboveExtraPlus-device: 2560px;

@mixin large-device {
  @media (min-width: #{$large-device}) {
    @content;
  }
}

@mixin extraLarge-device {
  @media (min-width: #{$extraLarge-device + 1}) {
    @content;
  }
}

@mixin mediumLarge-device {
  @media (min-width: #{$mediumLarge-device}) {
    @content;
  }
}

@mixin aboveExtraLarge-device {
  @media (min-width: #{$aboveExtraLarge-device}) {
    @content;
  }
}

@mixin aboveExtraPlus-device {
  @media (min-width: #{$aboveExtraPlus-device}) {
    @content;
  }
}

@include extraLarge-device {
  .activeitem {
    a {
      font-size: 100px !important;
    }
  }
}
