$bg: $dark-grey;

::-webkit-scrollbar {
  width: $scroll-width + 2 * $scroll-padding;
  height: $scroll-width + 2 * $scroll-padding;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $dodger-blue;
  border: $scroll-padding solid $bg;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $dodger-blue;
}

::-webkit-scrollbar-thumb:active {
  background: $dodger-blue;
}

::-webkit-scrollbar-track {
  background: $bg;
  border: $scroll-padding solid $bg;
  border-radius: 0;
}

::-webkit-scrollbar-track:hover {
  background: $bg;
}

::-webkit-scrollbar-track:active {
  background: $bg;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
