.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding-left: $table-cell-padding-horiz;
        padding-right: $table-cell-padding-horiz;
        text-align: left;
      }
    }
  }
}

.table-title {
  background-color: $black-light;
  color: $white-color;
  padding: 22px 40px;
  overflow: hidden;
  border-bottom: 1px solid $primary-border-color;
  h2 {
    margin: 0;
    float: left;
    font-size: 36px;
  }
}

.primary-table, .table-striped {
  thead {
    background-color: $black-light;
    color: $white-color;
    th {
      padding: 24px;
      vertical-align: middle;
      color: $white-color;
      font-size: 18px;
      font-weight: normal;
    }
  }
  tbody {
    tr {
      td {
        font-size: 16px;
        vertical-align: middle;
        padding-top: 24px;
        padding-bottom: 24px;
        border: 0;
        color: $white-color;
        height: 70px;
      }
    }
  }
  .text-center {
    text-align: center;
  }
}

.table > thead > tr > th {
  padding-top: 12px;
  padding-bottom: 7px;
  border: 0;
}

$first-cell-padding: 48px;

.primary-table {
  > thead,
  > tbody {
    > tr {
      > th:first-child,
      > td:first-child {
        padding-left: $first-cell-padding;
      }
    }
  }
}

.table-striped {
  > tbody {
    > tr {
      opacity: 1;
      &:nth-of-type(odd) {
        background-color: $dark-grey;
      }
      &:nth-of-type(even) {
        background-color: $row-even-strip-grey;
      }
    }
  }
}

.table-selectable {
  > thead > tr > th:first-child {
    padding-left: $table-border-left + $table-cell-padding-horiz;
  }
  &.primary-table {
    > thead > tr > th:first-child {
      padding-left: $table-border-left + $first-cell-padding;
    }
  }
  > tbody {
    > tr {
      &:nth-of-type(even),
      & {
        border-left: 2 * $table-border-left solid transparent;
        transition: background-color $hover-transition-time ease, opacity ($base-transition-time * 10) ease;
        &.selected,
        &:hover {
          background-color: $black-color;
          border-left: 2 * $table-border-left solid $dodger-blue;
          .ic-view-details {
            background-position: 0 -96px;
          }
          .ic-info {
            background-position: 0 -159px;
          }
        }
      }
    }
  }
}

/*table sorting*/
.table-sorting {
  thead {
    th {
      span {
        &:hover {
          font-weight: bold;
          cursor: pointer;
        }
      }
      .sort-active {
        cursor: pointer;
        position: relative;
        &:hover {
          font-weight: normal;
        }
        &:before {
          content: "";
          border-bottom: 2px solid $dodger-blue;
          width: 100%;
          float: right;
          position: absolute;
          bottom: -11px;
        }
        &.sort-desc:before {
          background-position-y: -216px;
        }
      }
    }
  }
}

tr.clickable {
  cursor: pointer;
}

tr.selected {
  background-color: $font-grey-med !important;
}

// Fixed table headers
table.clone {
  margin: 0;
  overflow: visible !important;
}

.col-txt-center {
  padding-left: 50px !important;
}
