/*Tab styles*/
$tab-padding-top: 20px;
$tab-padding-bottom: 22px;
$tab-font-size: 21px;

tabs,
.tabs {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .tab {
    display: flex;
    flex-direction: column;
    border: solid 1px red;
  }

  .tabs-content {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    > tab {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }
  }

  .tab-pane {
    /*TODO: Clean up this CSS... these four lines are being used all over the place*/
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    &.active {
      z-index: 1;
    }
    > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }
  }

  table.clone {
    z-index: 10;
  }
}

.nav-tabs > li:nth-child(2) {
  &:before {
    background: none;
  }
}

.nav-tabs > li {
  padding: 55px 0 0 0;
  &:before {
    content: '';
    height: 30px;
    width: 2px;
    position: absolute;
    background-color: #676767;
    left: 0;
    top: 55px;
  }
  &:first-child,
  &.close-btn {
    &:before {
      content: none;
    }
  }
  &.close-btn {
    a {
      margin-right: 0;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px;
    }
  }
}

.nav-tabs > li > a {
  color: $tabs-grey;
  font-size: $tab-font-size;
  display: inline-block;
  border: 0;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  cursor: pointer;
}

div.tabs {
  ul {
    li {
      text-align: center;
      margin: 0 auto;
      a {
        margin: 0;
        padding: 0 0 28px 0;
      }
    }
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid $dodger-blue;
  color: $white-color;
}

.nav-tabs > li > a:hover {
  background-color: transparent;
  border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  color: $white-color;
}

.part-count-tab {
  display: inline-block;
  color: $dodger-blue;
  padding: 0 5px;
  font-size: $tab-font-size;
}

.history-tabs {
  li {
    &:first-child a {
      margin-left: 20px;
    }
    a {
      margin-right: 48px;
    }
  }
}

details-maintain-inventory {
  .nav-tabs > li > a {
    font-size: 18px;
  }
}
