// Override Bootstrap variables
// Disable mobile device breakpoints and required scrolling side to side.
$min-width: 992px;
$screen-xs: 0 !default;
$screen-sm: 0 !default;
$screen-md: 1px !default;
$screen-lg: 1200px !default;
$screen-xl: 1600px !default;

/* Transition variables */
$base-transition-time: 100ms;
$hover-transition-time: 250ms;

/* Color variables */
$white-color: #fff;
$white-hightlight: #f1f1f1;
$black-color: #000;
$black-light: #010101;
$black: #040404;
$dark-grey: #222323;
$grey-light: #333434;
$disable-text: #6a6a6a;
$row-even-strip-grey: #363737;
$secondary-border-color: #5c5d5d;
$font-grey: #f7f3f9;
$font-grey-med: #979797;
$font-grey-dark: #7a7a7a;
$highlight-grey: #777;
$select-bg-grey: #353636;
$dark-grey-bg: #1b1b1b;
$tabs-grey: #8c8e8e;
$background-color: #222323;
$dodger-blue: #3ab4f5;
$dodger-blue-hover: #2f88b8;
$primary-border-color: #979797;
$autofill-select-bg: #69f;
$grey-medium: #ccc;
$search-dd-text: #696769;
$lightbg: #2e2f2f;
$disable-span: #6a6a6a;
$dodger-light: #3498db;

/* Width height variables */
$full-width: 100%;
$header-height: 96px;
$table-border-left: 6px; // table borders are centered on edges; only 50% will be visible
$price-graph-height: 273px; // Specific component variables

/* Spacing variables */
$scroll-padding: 8px;
$scroll-width: 4px;
$table-cell-padding-horiz: 14px;

/* Position variables */
$right: right;
$left: left;
$none: none;

/* font-size variables */
$font14: 14px;
$font18: 18px;
$font22: 22px;
