@import "scss/_variables";
@import "bootstrap";
@import "font-awesome";
@import "angular-datepicker";
@import "animate.css/animate";
@import "scss/*";
@import "components/**/*";

html,
body,
.layout,
layout {
  height: 100%;
}

body {
  background-color: $background-color;
  color: $white-color;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

a {
  // All links should look clickable, even when they just have an href with no value
  cursor: pointer;
}

layout {
  display: flex;
  flex-direction: column;

  > * {
    flex: 0 0 auto;
  }

  > main {
    display: flex;
    flex: 1 1 auto;
    height: 0;
    align-content: stretch;
    > * {
      width: 100%;
      position: relative;
    }
  }
}

.scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex: 1 1 70px;
}

.scroll-limit {
  width: 1px;
  height: 1px;
}

/** Add Doc / File Upload **/
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;

  input.upload {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.adddoc {
  a, span {
    display: block;
    border: solid 1px $dodger-blue;
    padding: 10px 20px;
    max-width: 208px;
    font-size: 18px;
    margin: 10px 0 30px 0;
    text-decoration: none;
    cursor: pointer;
    clear: both;
    i {
      font-weight: lighter;
      -webkit-text-stroke: 2px $dark-grey;
      color: $dodger-blue;
      font-size: 22px;
      padding-top: 2px;
      vertical-align: middle;
      margin-left: 8px;
    }
  }
  .fileUpload {
    input.upload {
      height: 48px;
      width: 208px;
      top: 10px;
    }
  }
}

/*Common icon image styles*/
.icon-sprite {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-image: url(/img/icon-sprite.png);
}

.ic-user {
  background-position: 0 -245px;
}

.ic-close {
  background-position: 0 -28px;
  &:hover {
    background-position: 0 6px;
  }
}
