<div class="scroll-container" scroll-position="$ctrl.handleScroll" ng-animate-children>
  <div class="scroll-limit" ng-style="$ctrl.scrollSliderStyle"></div>
  <table delay-show="$ctrl.itemsPadded.length" class="table table-striped table-selectable primary-table table-sorting">
    <thead fixed-header>
    <tr column-sorting="$ctrl.onSort" default-sort-col="$ctrl.defaultSortCol" default-sort-asc="$ctrl.defaultSortAsc">
      <th><span column-sort="OrderDate">Date</span></th>
      <th><span column-sort="Priority">Priority</span></th>
      <th><span column-sort="CustPo">PO #</span></th>
      <th><span column-sort="Tail">Tail #</span></th>
      <th><span column-sort="Part">Part #</span></th>
      <th><span column-sort="SvStatus">S/V Status</span></th>
      <th><span column-sort="ShipDate">ESD</span></th>
      <th><span column-sort="UsStatus">U/S Status</span></th>
      <th class="text-center"><span column-sort="Em">E/M</span></th>
      <th class="text-center"><span column-sort="ActionRequired">Action</span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.itemsPadded track by $index"
        ng-click="$ctrl.openPoolOrderDetails(item)"
        ng-class="{ 'selected': item.OrdschId && $ctrl.part.OrdschId === item.OrdschId }"
        class="clickable">
      <td>{{item.OrderDate | date:'dd MMM yy'}}</td>
      <td>{{item.Priority | priority}}</td>
      <td>{{item.CustPo}}</td>
      <td>{{item.Tail}}</td>
      <td>{{item.Part}}</td>
      <td >{{item.SvStatus}}</td>
      <td>{{item.ShipDate | date:'dd MMM yy'}}</td>
      <td>{{item.UsStatus}}</td>
      <td class="text-center">{{item.Em}}</td>
      <td class="text-center"><span ng-if="item.ActionRequired && item.ActionRequired!='N'"><i class="fa fa-exclamation" aria-hidden="true" ng-click="$ctrl.openActionRequired(item, $event)"></i></span></td>
    </tr>
    </tbody>
  </table>
  <loading-indicator delay-show="$ctrl.isLoading"></loading-indicator>
  <status-message delay-show="!$ctrl.isLoading && !$ctrl.items.length && $ctrl.message" delay-time="500">
    {{$ctrl.message}}
  </status-message>
</div>