<div ng-class="{'show': $ctrl.hasOverlay }" class="grayshade"></div>

<div ng-if="$ctrl.isPoolOrderDetailsOpen" class="ui-view-right-overlay">
	<pool-order-details></pool-order-details>
</div>

<div ng-if="$ctrl.isActionRequiredOpen" class="ui-view-right-overlay">
	<action-required></action-required>
</div>

<tabs ng-if="$ctrl.filterTabs.isLoading === false" on-select="$ctrl.onTabChange" selected-index="$ctrl.tabIndex" class="dashboard-wrap">
	<tab ng-repeat="filter in $ctrl.filterTabs.items" label="filter.label" count="$ctrl.counts[filter.key].total">
		<pool-order-list
			count="$ctrl.counts[filter.key].total"
			items="$ctrl[filter.key].items"
			message="$ctrl[filter.key].message"
			is-loading="$ctrl[filter.key].isLoading"
			actioncount="$ctrl.counts.ActReqCount"
			on-scroll="$ctrl.handleScroll(filter.key, index)"
			on-sort="$ctrl.setSort"
		></pool-order-list>
	</tab>
</tabs>
