dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dashboard-wrap {
  ul {
    display: flex;
    flex: 0 0 117px;
    > li {
      float: none;
      flex: 1 1 auto;
      &:nth-child(1) {
        display: none;
      }
    }
  }
}

.primary-table {
  tbody {
    tr {
      td {
        span {
          i {
            padding: 3px 8px;
            border: solid 1px $dodger-blue;
            border-radius: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            font-size: $font18;
            color: $dodger-blue;
          }
        }
      }
    }
  }
}

.pod-modal-border {
  border-left: solid 2px $primary-border-color;
}

.poolTab-content-wrap {
  padding: 40px 36px 0 46px;
  .field-row {
    padding: 0 0 34px 0;
    div {
      font-size: $font18;
    }
    .pod-label {
      font-family: LatoLight;
      color: $font-grey-med;
    }

    .pod-field-content {
      .pod-field-desc {
        color: $font-grey-med;
        font-size: $font14;
      }
      input,
      select {
        background-color: $select-bg-grey;
        padding: 12px 12px;
        font-size: $font18;
        border: 0;
        text-align: left;
        margin-bottom: 15px;
      }
    }

    textarea,
    .npr-textarea {
      background-color: $select-bg-grey;
      border: 0;
      outline: 0;
      width: 350px;
      height: 180px;
      padding: 15px;
    }
  }

  .pod-docs {
    a {
      float: left;
      display: block;
      line-height: 24px;
      font-size: $font18;
      color: $dodger-blue;
      margin-top: 18px;
      text-decoration: none;
      i {
        -webkit-text-stroke: 2px $black-color;
        font-size: $font22;
        color: $font-grey-med;
        padding-right: 8px;
      }
    }
    button {
      background: transparent;
      border: none;
      float: left;
      padding-top: 18px;
      outline: 0;
      i {
        -webkit-text-stroke: 2px $black-color;
        font-size: $font22;
        color: $font-grey-med;
        padding-right: 8px;
      }
    }
  }

  .sub-serialbox {
    clear: both;
    div {
      margin: 15px 0 0 0;
      min-height: 26px;
      font-family: LatoLight;
      &.noSpace {
        color: $font-grey-med;
      }
      input {
        background-color: $select-bg-grey;
        padding: 5px;
        font-size: 16px;
        border: 0;
        text-align: left;
        margin-bottom: 15px;
        width: 100%;
        outline: 0;
      }
    }
  }

  .pod-btn-wrap {
    margin: 40px 0 0 0;
    .pod-save,
    .pod-cancel,
    .pod-approve,
    .pod-reject {
      @include btn-dodger;
      width: 110px;
      height: 40px;
      font-size: $font18;
    }
  }
}

.action-heading {
  h2 {
    margin-bottom: 0;
  }
  span {
    font-size: 16px;
    color: $font-grey-med;
    padding: 18px 0 0 46px;
  }
}

.grayshade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $black-color;
  z-index: 4;
  transition: opacity 5 * $base-transition-time linear;
  opacity: 0;
  pointer-events: none;
  &.show {
    opacity: 0.8;
    pointer-events: auto;
  }
}
