.modal-confirmation {
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 1050;
  width: auto;
  min-width: 400px;
  background-color: $black-color;
  border: 1px solid #4c4c4c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  animation-name: popup-ease;
  animation-duration: 400ms;
}

@keyframes popup-ease {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-body {
  h4 {
    margin-left: -50px;
    i {
      margin-right: 20px;
      padding: 4px 8px;
      border: solid 1px $dodger-blue;
      border-radius: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      font-size: 16px;
      color: $dodger-blue;
    }
  }
  a {
    color: $font-grey-med;
    margin: -50px -30px 0 0;
    float: right;
    &:hover {
      text-decoration: none;
    }
  }
  position: relative;
  padding: 80px;
  overflow-y: auto;
  text-align: center;
}

.icon-without-border {
  border: none !important;
}

.pod-btn-wrap {
  margin: 40px 20px 0 20px;
  .pod-save,
  .pod-approve,
  .pod-cancel,
  .pod-reject {
    @include btn-dodger;
    width: 110px;
    height: 40px;
    font-size: $font18;
  }

  .popup-cancel {
    border: 1px solid $dodger-blue;
    background-color: transparent;
    color: #3ab4f5;
  }

  .btn-center {
    display: inline;
  }
}

.modal-backdrop {
  position: inherit;
}
