<div modal="$ctrl.modalValue.showModal" close="$ctrl.modalValue.showModal = false">
    <div class="modal-body">
        <h4>
            <i class="fa fa-exclamation" aria-hidden="true" ng-if="$ctrl.modalValue.exclamation == true"></i>
            <i class="fa fa-check" aria-hidden="true" ng-if="$ctrl.modalValue.checkCircle == true"></i>
            {{$ctrl.modalValue.title}}
        </h4>
        <p>{{$ctrl.modalValue.msg}}</p>
        <div class="pod-btn-wrap" ng-if="$ctrl.modalValue.isConfModal == true">
            <button type="button" class="pod-save floatL" ng-click="$ctrl.modalValue.closeAndGoBack()">Ok</button>
            <button type="button" class="pod-cancel popup-cancel floatR" ng-click="$ctrl.closeModal()">Cancel</button>
        </div>
        <div class="pod-btn-wrap" ng-if="$ctrl.modalValue.isErrorModal == true">
            <button type="button" class="pod-save btn-center" ng-click="$ctrl.closeModal()">Ok</button>
        </div>
    </div>
</div>
