<div class="scroll-container poolTab-content-wrap" ng-animate-children>
  <div class="row" ng-if="$ctrl.svData.isLoading == false">
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Part#</div>
        <div class="col-lg-9 pod-field-content">
            {{$ctrl.svData.items[0].SvPartNum}}
            <div class="col-lg-12 row pod-field-desc">{{$ctrl.svData.items[0].Description | capitalize}}</div>
        </div>
        
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Customer PO-S5#</div>
        <div class="col-lg-9">{{$ctrl.svData.items[0].CustomerPoNum}}</div>
     </div>
     <div class="col-lg-12 field-row">
          <div class="col-lg-3 pod-label">Serial#</div>
          <div class="col-lg-9">{{$ctrl.svData.items[0].SerialNumber}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">ATA Chapter</div>
        <div class="col-lg-9">{{$ctrl.svData.items[0].AtaChapter}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Priority#</div>
        <div class="col-lg-9">{{$ctrl.svData.items[0].Priority | priority}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Contractual Delivery</div>
        <div class="col-lg-9 pod-field-content">{{$ctrl.svData.items[0].ContractualDelivery}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Required By</div>
        <div class="col-lg-9 pod-field-content">{{$ctrl.svData.items[0].DateRequiredBy | date:'dd MMM yy'}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Time Required</div>
        <div class="col-lg-2 pod-field-content">
            {{$ctrl.svData.items[0].TimeRequiredBy}}
        </div>
        <div class="col-lg-4 pod-field-content">
            {{$ctrl.svData.items[0].TimeZon}}
        </div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">A/C Tail#</div>
        <div class="col-lg-9">{{$ctrl.svData.items[0].AcTailNum}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">S/V Part Destination</div>
        <div class="col-lg-9 pod-field-content">
            {{$ctrl.svData.items[0].SvPartDestination}}
        </div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">S/V Airway Bill</div>
        <div class="col-lg-9" ng-bind-html="$ctrl.svData.items[0].SvAirwayBill | google"></div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">ESD</div>
        <div class="col-lg-9">{{$ctrl.svData.items[0].SvShipmentStatus | date:'dd MMM yy'}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-12"><h3>Comments</h3></div>
        <div class="col-lg-6 pod-field-content pod-label"></div>
     </div>
     <div class="col-lg-12 field-row">
         <div class="col-lg-12"><h3>AAR Documents</h3></div>
         <div class="col-lg-6 pod-docs" ng-repeat="item in $ctrl.aarData.items">
             <a href="" ng-click="$ctrl.openDoc(item)">{{item.FileName}}</a>
         </div>
     </div>
  </div>
  <loading-indicator delay-show="$ctrl.svData.isLoading"></loading-indicator>
  <status-message delay-show="!$ctrl.svData.isLoading && !$ctrl.svData.items[0].length && $ctrl.svData.message" delay-time="500">
    {{$ctrl.svData.message}}
  </status-message>
</div>