<div class="scroll-container" ng-animate-children>
  <div ng-if="$ctrl.ordData.isLoading == false && $ctrl.ordData.message == null">
  <table class="table table-striped primary-table">
    <thead fixed-header>
    <tr>
      <th><span>Date</span></th>
      <th><span>Activity</span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.ordData.items | orderBy: '-Dt'">
      <td>{{item.Dt | date:'dd MMM yy'}}</td>
      <td>{{item.Status}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <loading-indicator delay-show="$ctrl.ordData.isLoading"></loading-indicator>
  <status-message delay-show="!$ctrl.ordData.isLoading && !$ctrl.ordData.items.length && $ctrl.ordData.message" delay-time="500">
    {{$ctrl.ordData.message}}
  </status-message>
</div>