.fixed-npr-container {
  width: 1400px;
  margin: 50px 0 0 64px;
}

.poolsubhead {
  background-color: $black-color;
  border-bottom: 1px solid $primary-border-color;
  .pool-title {
    font-size: 36px;
    font-family: Lato;
    padding: 24px 0 0 64px;
  }

  .poolsubhead-right {
    input {
      @include btn-dodger;
      width: 266px;
    }
  }

  .newPool-close {
    a {
      border: 0;
      text-decoration: none;
      color: $white-color;
      cursor: pointer;
      width: 100px;
      display: inline-block;

      i {
        -webkit-text-stroke: 5px $black-color;
        margin-top: 26px;
        margin-left: 38px;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
      }
    }
  }
}

.poolField-wrap {
  margin-bottom: 83px;
  label {
    font-size: 18px;
    font-family: LatoLight;
    font-weight: normal;
    margin: 8px 0 0 0;

    span {
      color: $dodger-blue;
      width: 8px;
      display: inline-block;
      margin: 0 3px 0 -10px;
      font-size: 18px;
    }
  }

  .fieldrow {
    margin-bottom: 30px;
    display: flex;

    .input-group {
      .form-control {
        color: $white-color;
      }

      span {
        cursor: pointer;
      }
    }

    span {
      font-size: 18px;
      display: inline-block;
      margin: 12px 0 0 0;
    }

    i {
      font-size: 28px;
      color: $dodger-blue;
    }

    .noSpace {
      padding-top: 6px;
    }

    .time-required {
      width: 355px;
      padding-left: 15px;

      input[type=text],
      input[type=number],
      input[type=email],
      select {
        width: $full-width;
      }

      .time {
        padding: 0;
        input {
          width: 80%;
          text-align: center;
        }
      }

      .time-zone {
        padding: 0;
      }
    }
  }

  input[type=text],
  input[type=number],
  input[type=email],
  select {
    width: 340px;
    background-color: $select-bg-grey;
    padding: 5px;
    font-size: 18px;
    border: 0;
    font-weight: normal;
    height: 40px;
    font-family: Lato;
    outline: 0;
  }

  .fieldinfo {
    font-size: 14px;
    font-family: LatoLight;
    font-weight: normal;
    margin-top: 10px;
    color: #fcfcfc;
  }
}

.poolsupport {
  font-size: 22px;
  margin: 6px 0 0 0;
}

.updocs {
  margin-top: 30px;
  i {
    color: #797979;
    font-size: 22px;
    -webkit-text-stroke: 2px $dark-grey;
    cursor: pointer;
  }

  span {
    color: $dodger-blue;
    font-size: 18px;
  }
}

#dateRangeForm .form-control-feedback {
  top: 0;
  right: -15px;
}

new-pool-request {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.npr-textarea {
  textarea {
    background-color: $select-bg-grey;
    border: 0;
    outline: 0;
    width: 350px;
    height: 180px;
    padding: 15px;
    margin-top: 25px;
  }
}

.cal-ico {
  padding-top: 4px;
  display: block;
}

.part-status-loader,
.part-status-result {
  transition: all (10 * $base-transition-time) linear;
  position: absolute;

  &.ng-enter {
    @include effect(fadeIn, 5 * $base-transition-time);
  }

  &.ng-leave {
    @include effect(fadeOut, 5 * $base-transition-time);
  }
}

.side-loader {
  $size: 26.5px; // try to match the size of the status icons
  border: 4px solid $dark-grey;
  border-top: 4px solid $dodger-light;
  border-bottom: 3px solid $dodger-light;
  border-right: 3px solid $dodger-light;
  border-radius: 50%;
  width: $size;
  height: $size;
  animation: spin (10 * $base-transition-time) linear infinite;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
