<form id="newPoolReqForm" name="$ctrl.newPoolReqForm">
<div class="poolsubhead">
    <div class="pool-title floatL">New Pool Request</div>
    <div class="floatR newPool-close">
        <a href="" ng-click="$ctrl.closeNewPoolRequestPage()"><i class="icon-sprite ic-close" aria-hidden="true"></i></a>
    </div>
    <div class="poolsubhead-right floatR">
        <input name="submit" type="button" value="Submit" ng-click="$ctrl.submitNewPoolReq()">
    </div>

    <div class="clearfix">&nbsp;</div>
</div>
<div class="scroll-container" ng-animate-children>
    <div class="fixed-npr-container" ng-if="!$ctrl.newPoolAtaLov.isLoading && !$ctrl.newPoolTailLov.isLoading">
        <div class="col-lg-12 row poolField-wrap">
            <div class="col-lg-6">
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="acTail"><span>*</span>A/C Tail#</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <select id="acTail" name="acTail" form="" ng-model="$ctrl.newPoolRequestModel.acTail"
                                ng-options="tail as tail for tail in $ctrl.newPoolTailLov.items" ng-change="$ctrl.clearPartDetails()" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="part"><span>*</span>Part#</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <input id="part" type="text" name="part" ng-disabled="!$ctrl.newPoolRequestModel.acTail" ng-model="$ctrl.newPoolRequestModel.part"
                               ng-blur="$ctrl.verifyPartNumber()" auto-complete="$ctrl.autoCompleteOptions" autocomplete="off" required>

                        <div class="fieldinfo" ng-if="$ctrl.newPoolRequestModel.part" title="{{$ctrl.partNumberDetails.items.partName}}">{{$ctrl.partNumberDetails.items.partName}}</div>
                    </div>
                    <div class="col-xs-12 col-lg-1 noSpace" id="divIcons">
                        <div class="part-status-loader" ng-if="$ctrl.partNumberDetails.isLoading == true">
                            <div class="side-loader"></div>
                        </div>
                        <div class="part-status-result" ng-if="$ctrl.partNumberDetails.isLoading == false && $ctrl.newPoolRequestModel.part">
                            <i class="glyphicon glyphicon-ok part-status-valid"
                               ng-if="$ctrl.partNumberDetails.items.isValid === true"></i>
                            <i class="glyphicon glyphicon-remove-circle part-status part-status-invalid"
                               ng-if="$ctrl.partNumberDetails.items.isValid === false"></i>
                        </div>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="alternatePart">Alternate Part#</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <input id="alternatePart" type="text" name="alternatePart" ng-model="$ctrl.newPoolRequestModel.alternatePart">
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="ataChapter"><span
                                ng-if="$ctrl.newPoolRequestModel.part && ($ctrl.partNumberDetails.items.isValid == false
                                 || !$ctrl.partNumberDetails.items.isValid)">*</span>ATA Chapter</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <!--<select name="ataChapter" form="" ng-model="$ctrl.newPoolRequestModel.ataChapter"
                                ng-options="ata as ata for ata in $ctrl.newPoolAtaLov.items">
                        </select>-->
                        <input id="ataChapter" type="text" name="ataChapter" ng-model="$ctrl.newPoolRequestModel.ataChapter" placeholder="Please enter in format ##-##">
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="priority">Priority</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <select id="priority" name="priority" form="" ng-model="$ctrl.newPoolRequestModel.priority"
                                ng-disabled="!$ctrl.newPoolRequestModel.part || $ctrl.newPoolPriorityLov.isLoading"
                                ng-options="item as item.priorityCode for item in $ctrl.newPoolPriorityLov.items"
                                ng-change="$ctrl.setContractualDelivery()">
                                <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="contractualDelivery">Contractual Delivery</label>
                    </div>
                    <div class="col-xs-12 col-lg-7" id="contractualDelivery">
                       <span>{{$ctrl.newPoolRequestModel.contractualDelivery}}</span>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="required-date">Date required by</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <datepicker date-format="dd MMM yy">
                            <input id="required-date" type="text"
                                   ng-model="$ctrl.newPoolRequestModel.dateReqBy" ng-disabled="!$ctrl.newPoolRequestModel.priority.priorityCode || !$ctrl.newPoolRequestModel.priority.priorityCode"/>
                        </datepicker>
                    </div>
                    <div class="col-xs-12 col-lg-1">
                        <a href ng-click="$ctrl.openDatePicker('required-date')" class="cal-ico">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="timeReqBy">Time required by</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <div class="row time-required">
                            <div class="col-xs-12 col-lg-3 time">
                                <input id="timeReqBy" type="text" name="timeReqBy" ng-model="$ctrl.newPoolRequestModel.timeReqBy" ng-disabled="!$ctrl.newPoolRequestModel.priority.priorityCode || !$ctrl.newPoolRequestModel.priority.priorityCode" ng-blur="$ctrl.validateTime()" maxlength="5">
                            </div>
                            <div class="col-xs-12 col-lg-9 time-zone">
                                <select id="timeReqByTimeZone" name="timeReqByTimeZone" form=""
                                        ng-model="$ctrl.newPoolRequestModel.timeReqByTimeZone"
                                        ng-options="item as item.text for item in $ctrl.timeZones"
                                        ng-change="$ctrl.setContractualDelivery()" ng-disabled="!$ctrl.newPoolRequestModel.priority.priorityCode || !$ctrl.newPoolRequestModel.priority.priorityCode">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="installedSerial"><span ng-if="$ctrl.newPoolRequestModel.priority.priorityCode === $ctrl.priorityCodeRPL ||
                         $ctrl.newPoolRequestModel.priority.priorityCode === $ctrl.priorityCodeDPA">*</span>
                            Installed Serial#</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <select id="installedSerial" name="installedSerial" form="" ng-model="$ctrl.newPoolRequestModel.installedSerial"
                                ng-options="serial as serial for serial in $ctrl.newPoolInstSerialLov.items" ng-required="$ctrl.newPoolRequestModel.priority.priorityCode === $ctrl.priorityCodeRPL ||
                         $ctrl.newPoolRequestModel.priority.priorityCode === $ctrl.priorityCodeDPA" ng-disabled="!$ctrl.newPoolRequestModel.part || $ctrl.newPoolInstSerialLov.isLoading">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="customerPO"><span>*</span>Customer PO-S5#</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <input id="customerPO" type="text" name="customerPO" ng-model="$ctrl.newPoolRequestModel.customerPO" placeholder="Separate PO and S5 numbers with a dash. ##-##" required>
                    </div>
                </div>
                <div class="fieldrow">
                    <div class="col-xs-12 col-lg-4">
                        <label for="svPartDestination"><span ng-if="$ctrl.newPoolRequestModel.priority.priorityCode">*</span>S/V Part Destination</label>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <select id="svPartDestination" name="svPartDestination" form="" ng-model="$ctrl.newPoolRequestModel.svPartDestination"
                                ng-options="dest as dest for dest in $ctrl.newPoolDestLov.items" ng-required="$ctrl.newPoolRequestModel.priority.priorityCode" ng-disabled="!$ctrl.newPoolRequestModel.priority.priorityCode">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <h1 class="poolsupport">Comments</h1>
                <div class="col-lg-12 npr-textarea noSpace">
                    <textarea ng-model="$ctrl.newPoolRequestModel.comments"></textarea>
                </div>
            </div>
        </div>
    </div>
    <loading-indicator message="''"
            delay-show="$ctrl.newPoolDestLov.isLoading || $ctrl.newPoolInstSerialLov.isLoading ||
        $ctrl.newPoolPriorityLov.isLoading || $ctrl.newPoolAtaLov.isLoading || $ctrl.newPoolTailLov.isLoading || $ctrl.isEmailPending || $ctrl.isPartVeriLoading">
    </loading-indicator>
</div>
</form>
<modal-popup modal-value="$ctrl.modal"></modal-popup>
