<div class="scroll-container poolTab-content-wrap" ng-animate-children>
    <!--{{$ctrl.usData}};-->
  <div>
  <div class="row" ng-if="$ctrl.usData.isLoading == false">
     <div class="col-lg-12 field-row" ng-if="$ctrl.needsOffCoreReturn">
       <div class="col-lg-3 pod-label">Action Required</div>
       <div class="col-lg-9 pod-label dodger-blue">
         <a ng-if="$ctrl.can($ctrl.actionActionRequired)" href ng-click="$ctrl.openActionRequired()">Add Off Core Return</a>
         <span ng-if="!$ctrl.can($ctrl.actionActionRequired)">Off Core Return</span>
       </div>
     </div>
     <div class="col-lg-12 field-row" ng-if="$ctrl.needsOffCoreAirwayBill && $ctrl.usData.items[0].UsAirwayBill == null">
       <div class="col-lg-3 pod-label">Action Required</div>
       <div class="col-lg-9 pod-label dodger-blue">
         <a ng-if="$ctrl.can($ctrl.actionActionRequired)" href ng-click="$ctrl.openActionRequired()">Add Off Core Airway Bill</a>
         <span ng-if="!$ctrl.can($ctrl.actionActionRequired)">Off Core Airway Bill</span>
       </div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Part#</div>

        <div class="col-lg-9">{{$ctrl.usData.items[0].UsPartNum}}</div>
        <div class="col-lg-9">{{$ctrl.usData.items[0].Description}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Serial#</div>
        <div class="col-lg-9">{{$ctrl.usData.items[0].UsSerialNum}}</div>
        <div class="sub-serialbox col-lg-9 col-lg-offset-3">
            <div class="fullwidth clearfix">
                <div class="col-lg-1 noSpace">TSN</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsTsn}}</div>
                <div class="col-lg-1 noSpace">CSN</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsCsn}}</div>
                <div class="col-lg-1 noSpace">DSN</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsDsn}}</div>
            </div>
            <div class="fullwidth clearfix">
                <div class="col-lg-1 noSpace">TSO</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsTso}}</div>
                <div class="col-lg-1 noSpace">CSO</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsCso}}</div>
                <div class="col-lg-1 noSpace">DSO</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsDso}}</div>
            </div>
            <div class="fullwidth clearfix">
                <div class="col-lg-1 noSpace">TSR</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsTsr}}</div>
                <div class="col-lg-1 noSpace">CSR</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsCsr}}</div>
                <div class="col-lg-1 noSpace">DSR</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsDsr}}</div>
            </div>
            <div class="fullwidth clearfix">
                <div class="col-lg-1 noSpace">TSI</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsTsi}}</div>
                <div class="col-lg-1 noSpace">CSI</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsCsi}}</div>
                <div class="col-lg-1 noSpace">DSI</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsDsi}}</div>
            </div>
            <div class="fullwidth clearfix">
                <div class="col-lg-1 noSpace">TR</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsTr}}</div>
                <div class="col-lg-1 noSpace">CR</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsCr}}</div>
                <div class="col-lg-1 noSpace">DR</div>
                <div class="col-lg-3">{{$ctrl.usData.items[0].UsDr}}</div>
            </div>
        </div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">U/S Origin</div>
        <div class="col-lg-9">{{$ctrl.usData.items[0].UsOrigin}}</div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">U/S Airway Bill</div>
        <div class="col-lg-9"><div ng-if="$ctrl.usData.items[0].UsAirwayBill != null" ng-bind-html="$ctrl.usData.items[0].UsAirwayBill | google"></div><span class="dodger-blue" ng-if="$ctrl.usData.items[0].UsAirwayBill == null">&#8212;</span></div>
     </div>
     <!--TODO: Need to confirm the data getting for status field-->
     <!--<div class="col-lg-12 field-row">
        <div class="col-lg-3 pod-label">Status</div>
        <div class="col-lg-9">{{$ctrl.usData.items[0].ShippingStatus}}</div>
     </div>-->
     <div class="col-lg-12 field-row">
        <div class="col-lg-12"><h3>Reason for removal</h3></div>
        <div class="col-lg-12">
        </div>
     </div>
     <div class="col-lg-12 field-row">
        <div class="col-lg-12"><h3>AAR Documents</h3></div>
        <div class="col-lg-12 pod-docs" ng-repeat="item in $ctrl.usDocData.items">
           <a href="" ng-click="$ctrl.openDoc(item)">{{item.FileName}}</a>
        </div>
     </div>
     <div class="col-lg-12"><h3>Customer Documents</h3></div>
     <document-view items="$ctrl.items"></document-view>
      </div>
  <loading-indicator delay-show="$ctrl.usData.isLoading"></loading-indicator>
  <status-message delay-show="!$ctrl.usData.isLoading && !$ctrl.usData.items[0].length && $ctrl.usData.message" delay-time="500">
    {{$ctrl.usData.message}}
  </status-message>
</div>
</div>